<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="m1">
<head>
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="check.js"></script>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
    </style>
</head>
<body ng-controller="catctrl">
    <form ng-submit="Add()">
    <table class="auto-style1">
        <tr>
            <td colspan="5" align="center">Add Categories</td>
        </tr>
        <tr>
            <td>title</td>
            <td>description</td>
            <td>createdBy</td>
            <td>createdDate</td>
        </tr>
        <tr>
             <td><input id="Text1" type="text" ng-model="c.title" /></td>
            <td>
                <input id="Text2" type="text" ng-model="c.description"/></td>
            <td>
                <input id="Text4" type="text"ng=-model="c.createdBy" /></td>
            <td>
                <input id="Text5" type="text" ng-model="c.createdDate"/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
        <input type="submit" value="submit" />
    </form>
</body>
</html>
